<div id="header-wrapper">
    <div id="header" class="container">
        <div id="logo">
            <h1><a href="@Url.Action("Index","Home")">WatchMaker</a></h1>
        </div>
        <div id="menu">
            <ul>
                <li>@Html.ActionLink("Homepage", "Index", "Home")</li>
                <li>@Html.ActionLink("Our Clients", "Testimonials", "Home")</li>
                <li>@Html.ActionLink("About Us", "About", "Home")</li>
                <li>@Html.ActionLink("Stats", "Stats", "Home")</li>
                <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
            </ul>
        </div>
    </div>
</div>
